@font-face {
    font-family: SouthPark;
    src: url(south_park-webfont.woff);
}
h1{
    font-family: SouthPark;
    color:red;
    font-size: 35px;
}
#Container{
    width: 1000px;
   
    border: 2px solid black;
    background-color: azure;
    
}
body,html{
    display: flex;
    justify-content: center;
    background-color: cadetblue;
    /*background-image: url(../images/images.jpg);
    background-image: linear-gradient(blue, aquamarine);
    background-repeat: no-repeat;
    background-size:100%, 1050px;*/
}
#Nav{
    text-align: center;
    border: 1px solid black;
}
.nav-list{
    list-style: none;
    display: inline;
    text-align: center;
    padding: 15px;
}
#Header{
    border: 2px solid black;
    text-align: center;
}
#Content{
    border: 1px solid black;
    height: 610px;
}
#Footer{
    border: 1px solid black;
    text-align: center;
    font-family: SouthPark;
}
.section-text{
    width: 750px;
    float: left;
    padding-left: 20px;
}
img{
    float: left;
}
#section-header{
    padding-left: 20px;
    font-family: SouthPark;
}

.gallery{
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
    border: 1px solid black;
}

#contact-form{
    width: 500px;
    margin: auto;
}

.videos{
    margin: 30px auto 0 200px;
}

a:link{
    color: black;
    text-decoration: none;
    font-family: SouthPark;
    font-weight: bold;
}

a:visited{
    color: black;
}

a:hover{
    text-decoration: underline;
}

a:active{
    color: red;
}