h1{
    font-family: 'Honk', system-ui;
    text-decoration: underline;
    font-size: 32px;
}
#Container{
    width: 1000px;
    height: 800px;
    border: 2px solid black;
    background-color: azure;
    
}
body,html{
    display: flex;
    justify-content: center;
    background-color: cadetblue;
}
#Nav{
    text-align: center;
    border: 1px solid black;
}
.nav-list{
    list-style: none;
    display: inline;
    text-align: center;
    padding: 15px;
}
#Header{
    border: 2px solid black;
    text-align: center;
}
#Content{
    border: 1px solid black;
    height: 610px;
}
#Footer{
    border: 1px solid black;
    text-align: center;
}
.section-text{
    width: 750px;
    float: left;
    padding-left: 20px;
}
img{
    float: left;
}
#section-header{
    padding-left: 20px;
}

.gallery{
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
    border: 1px solid black;
}

#contact-form{
    width: 500px;
    margin: auto;
}